<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>Sign</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vant/2.12.15/index.min.css"
          integrity="sha512-LYWd/maNduX9PpHKdWC0qz6w4rJv9CJhy2UzTyhbKxgkilOj9Hn6oOkyKK35HudG0qgffMZS7Qy8+LqkB8fw7g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div id="client">
    {% block client %}{% endblock %}
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"
        integrity="sha512-YXLGLsQBiwHPHLCAA9npZWhADUsHECjkZ71D1uzT2Hpop82/eLnmFb6b0jo8pK4T0Au0g2FETrRJNblF/46ZzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vant/2.12.15/vant.min.js"
        integrity="sha512-gZYb6CvDpFRNMTm0CIvCGLbPo93dknq9a6zZuvYl2ObiJp8e/fKgDr1zPM+bKbUjYOnTN4nmpXfmx7VKWesQig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.0.1/html5-qrcode.min.js"
        integrity="sha512-JXdlXFkKGAhP2yUubNT7hXNjEtPrAJz1Gs7oztdP47KhqL5ux88uof5FnIm2D0Ud/TdqiAe1mM1179kJDy/HKA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@vant/touch-emulator@1.3.0/index.min.js"></script>
{% block script %}{% endblock %}
</html>