body {
    margin: 0 auto;
}

.top {
    position: absolute;
    margin: 0 auto;
    height: 40vh;
    width: 608px;
    border-radius: 0px 0px 40px 40px;
    background-color: rgba(116, 104, 190, 100);
    border: 1px solid rgba(255, 255, 255, 100);
}

.scan {
    padding-top: 3vh;
    padding-left: 3vh;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 517px;
    border-radius: 30px;
    box-shadow: 0px 2px 6px 0px rgba(178, 178, 191, 22);
    border: 1px solid rgba(237, 234, 244, 100);
    background-color: white;
}

.status-img .van-empty__image {
    width: 6rem;
    height: 6rem;
}

.van-empty__description {
    color: #000000 !important;
}

.button-list .van-cell__title {
    text-indent: 0.5rem
}

#history {
    max-height: 77vh;
    overflow-y: scroll;
}

.van-step--vertical {
    padding: 1px 10px 10px 0 !important;
}

@media (min-width: 608px) {
    #client {
        margin: 0 auto;
        width: 608px;
    }
}

@media (max-width: 608px) {
    .top {
        width: 100vw;
    }

    .card {
        width: 85vw;
    }
}
